.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    height: fit-content;
    width: 80%;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    font-size: larger;
  }
  
  .itemName {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .upperLimit {
    color: #555;
    font-size: 14px;
  }
  
  .counter {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .button {
    background-color: #00944E;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    margin: 5px;
    width: 100%;
  }
  
  .button:hover {
    background-color: #007e41;
  }
  
  /* Styles for increment and decrement buttons */
  .counter button {
    background-color: #00944E;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
  }
  
  .counter button:hover {
    background-color: #007e41;
  }
  
  .counter span {
    margin: 0 10px; /* Adjust spacing between count and buttons */
  }
  