.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #00944e;
  color: #fff;
  width: 200px;
  height: 150px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}

.card:hover {
  background-color: #007e41;
}

.cardText {
  font-size: 24px;
  font-weight: bold;
}
