.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  
  .card {
    width: 80%;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .itemName {
    color: #00944E;
  }
  
  .count {
    color: #00944E;
  }
  
  .bold {
    font-weight: bold;
  }
  